<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Create a publisher</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#" th:href="@{/publishers}">Publishers</a></li>
            <li><a href="#" th:href="@{/books}">Books</a></li>
        </ul>
        <form action="#" th:action="@{/logout}" class="form-inline nav navbar-right" , method="post">
            <button class="btn glyphicon glyphicon-log-out" type="submit"> Logout</button>
        </form>
    </div>
</nav>
<div class="container">
    <div class="row">
        <form action="#" th:action="@{/insert/publisher}" th:object="${publisherDto}" method="post">
            <input type="hidden" th:field="*{publisherId}">
            <div class="form-group col-lg-12">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" placeholder="Enter title" th:field="*{name}">
                <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>
            <div class="form-group col-lg-12">
                <label for="address">Address</label>
                <input type="text" id="address" class="form-control" placeholder="Enter address" th:field="*{address}">
                <p class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
            </div>
            <div class="form-group col-lg-12">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" placeholder="Enter email" th:field="*{email}">
                <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
